@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');
* {
    font-family: Ubuntu;
}
.navbar {
    background-image: linear-gradient(to right, rgb(240, 250, 249) , rgb(255, 255, 255));
    box-shadow: 0px 3px 7px rgb(209, 209, 209);
    height: 85px; 
    display: flex;
}

.navbar-brand {
    position: relative; 
    padding-left: 250px;
    font-weight: 900;
    font-size: 25px;
    color: #000000 
    
}
.nav-right {
    position: absolute; 
    right: 250px; 
    display: flex;
    justify-content: space-evenly;
}

.nav-item {
    color: rgb(114, 116, 141); 
    font-weight: 700;
    /* padding-left: 0px; */
}