@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@200;300;400;600;700;900&display=swap');


.navbar {
    background-color: white;
    box-shadow: 0px 3px 7px rgb(209, 209, 209);
    height: 85px; 
    display: flex;
}

.icon {
    font-size: 35px;
    margin-right: 10px;
}
.navbar-brand {
    font-family: Ubuntu;
    position: relative; 
    padding-left: 250px;
    font-weight: 600;
    font-size: 30px;
    color: #ff8e73; 
}

.navbar-brand:hover, .nav-item:hover {
    color: #585555;    
}

.nav-right:hover {
    color: white; 
}
.nav-right {
    position: absolute; 
    right: 250px; 
    display: flex;
    justify-content: space-evenly;
}

.nav-item {
    color: #425b75; 
    font-weight: 600;
    font-family: Cairo;
    font-size: 20px;
    /* padding-left: 0px; */
}
